<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    
<script src="externalJs/jquery-1.11.1.min.js"></script>
<script src="externalJs/bootstrap.min.js"></script>
<script src="externalJs/jquery.backstretch.min.js"></script>
<!-- <script src="externalJs/angular.js"></script>
 -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="externalJs/angular-route.js"></script>
<script src="externalJs/ngStorage.js"></script>
<script src="externalJs/ui-bootstrap.min.js"></script>


<script
	src="externalJs/angular-ui"></script>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">



<link rel="stylesheet" type="text/css" href="" />
<link href="css/font.css" rel="stylesheet">
<link href="css/font.css" rel="stylesheet">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge
">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- javascript imports -->
<script src="js/route.js">
	
</script>
<script src="js/controller.js"></script>
<script src="js/eventCtrl.js"></script>

<!-- stylesheets imports-->



<script src="externalJs/bootbox.js"></script>


<body ng-app="app">

	<div ng-controller="myCtrl">
		<button ng-click="dologin()">Login</button>
		<button ng-click="logout()">Logout</button>
		<button ng-click="register()">Register</button>

		<div ng-view></div>
	</div>

</body>
</html>