<center>
<div ng-controller = "loginCtrl">
<div align="left" id="fixedheader"><b>TATA</b> CONSULTANCY SERVICES </div> <div class="header" id="fixedheader" > <b style="font-size:12px;">Experience certainty</b> </div> 

<form class="reset-password-form" id="reset" name="myForm">
	
<div class="login-page">
  <div class="form2">
	<h3 class="h">CHANGE PASSWORD</h3><br>
			 <div>
					<label for="EmpId" class="label" style="color:black">EMPLOYEE ID</label> 
	
					<input id="EmpId" style=" padding: 9px;" name="EmpId" ng-model="employee.empId" type="text" class="input1" max-length="50" readonly>
			</div>
			
			<div>
				<label for="oldPassword" class="label" style="color:black">OLD PASSWORD</label>
					<input id="oldPassword" style=" padding: 9px;" name="oldPassword" ng-model="employee.oldPassword"  type="password" class="input1" data-type="password" required>
							<span style="color:red;"  ng-show="myForm.oldPassword.$dirty && myForm.oldPassword.$invalid" > 
								<span style="color:red;" ng-show="myForm.oldPassword.$error.required"> Please Enter Old Password 
								</span>
							</span>
					
				</div>
				
				<div>
					<label for="newPassword" class="label" style="color:black">NEW PASSWORD</label>
					<input id="password" style=" padding: 9px;" name="newPassword" type="password" ng-model="employee.newPassword" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$/" class="input" data-type="password" required>				
						
						
						
						<span style="color:red;"  ng-show="myForm.newPassword.$dirty && myForm.newPassword.$invalid" > 
							<span style="color:red;" ng-show="myForm.newPassword.$error.required"> Please Enter New Password 
							</span>
								<span style="color:red" ng-show="myForm.newPassword.$error.pattern">The password must contain one numeric, special, symbol,uppercase,lowercase minimum 8 characters
								</span>
						</span>
						
				    <span style="color:red;" ng-show="employee.oldPassword == employee.newPassword && myForm.newPassword.$dirty" class="error">Old and New Password must be different.</span></span>
				    
				
				</div>
				
				
				<div>
					<div class="figure" id="strength_human"></div>    
				</div>
				
				<div >
				<label for="confirmPassword" class="label" style="color:black">CONFIRM PASSWORD</label>
				<input id="confirmPassword" style=" padding: 9px;" class="input" type="password" size="20" name="empPassword" ng-model="employee.empPassword" ng-pattern="employee.newPassword" data-type="password" required> 
				
			    <span style="color:red;" ng-show="myForm.empPassword.$error.pattern" class="error">Both Passwords must be Same</span>
				
				</div>
				
				<div >				
   				   				
	  				<a href="" style="color:#fff"><button class="message2" ng-click="changePass(employee)" ng-disabled="myForm.$invalid && myForm.$dirty || employee.oldPassword == employee.newPassword" data-toggle="modal" data-target="#myModal"  > Submit </button>  </a> 
					
				</div>
			</div>
		</div>
		 
		
		</form>
		
		 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color: #339FFF;color:white;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
          <p>{{SecurityMessage}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="goToLogin2()">Okay</button>
        </div>
      </div>
      
    </div>
  </div>
		
</div>
</center>
