<div class="container" ng-controller="eventCtrl">
	<h2 style="text-align: center; margin-bottom: 10px;">
		<p>CHANGE PASSWORD</p>
	</h2>
	<form class="form" name="myForm"
		style="margin: 5px auto; text-align: center; width: 350px;" novalidate>

		<div class="form-group">
			<label for="form-username">User Id</label>
			<input id="form-username" name="form-username" ng-model="user.userId"
				type="text" class="form-control" max-length="50" readonly>
		</div>

		<div class="form-group">
			<label for="userPassword" >Current Password</label> <input id="form-password" name="form-password"
				ng-model="user.userPassword" type="password" class="form-control"
				data-type="password" required> <span style="color: red;"
				ng-show="myForm.form-password.$dirty && myForm.form-password.$invalid">
				<span style="color: red;"
				ng-show="myForm.form-password.$error.required"> Please Enter
					Current Password </span>
			</span>

		</div>

		<div class="form-group">
			<label for="newPassword">New Password</label> <input id="password" name="newPassword" type="password"
				ng-model="newPassword"
				ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$/"
				class="form-control" data-type="password" required> <span
				style="color: red;"
				ng-show="myForm.newPassword.$dirty && myForm.newPassword.$invalid">
				<span style="color: red;"
				ng-show="myForm.newPassword.$error.required"> Please Enter
					New Password </span> <span style="color: red"
				ng-show="myForm.newPassword.$error.pattern">The password must
					contain one numeric, special, symbol,uppercase,lowercase minimum 8
					characters </span>
			</span> <span style="color: red;"
				ng-show="user.userPassword == user.changedPassword && myForm.newPassword.$dirty"
				class="error">Current and New Password must be different.</span>


		</div>

		<div class="form-group">
			<label for="confirmPassword">Confirm
				Password</label> <input id="confirmPassword" class="form-control"
				type="password" size="20" name="usrPassword"
				ng-model="user.changedPassword" ng-pattern="newPassword"
				data-type="password" required> <span style="color: red;"
				ng-show="myForm.usrPassword.$error.pattern" class="error">
				Password did not match</span>

		</div>

		<div class="form-group">

			<button class="btn btn-primary btn-block" style="height: 32px;"
				ng-disabled="myForm.$invalid && myForm.$dirty || user.userPassword == user.changedPassword"
				ng-click="changePass(user)">Submit</button>

		</div>

	</form>

</div>


