<div class="container" ng-controller="myCtrl">
	<div class="card card-login mx-auto ">
		<div class="card-header">Change Password</div>
		<div class="card-body">
			<div class="form-bottom">
				<form role="form" class="registration-form" name="myForm" novalidate>

					<div class="form-group">
						<label for="form-username" class="label" style="color: black">USERNAME</label>
						<input id="form-username" name="form-username" ng-model="userId"
							type="text" class="input" readonly>
					</div>

					<div>
						<label for="userPassword" class="label" style="color: black">CURRENT
							PASSWORD</label> <input id="form-password" name="form-password"
							ng-model="user.userPassword" type="password" class="input"
							data-type="password" required> <span style="color: red;"
							ng-show="myForm.form-password.$dirty && myForm.form-password.$invalid">
							<span style="color: red;"
							ng-show="myForm.form-password.$error.required"> Please
								Enter Current Password </span>
						</span>

					</div>

					<div>
						<label for="newPassword" class="label" style="color: black">NEW
							PASSWORD</label> <input id="password" name="newPassword" type="password"
							ng-model="newPassword"
							ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$/"
							class="input" data-type="password" required> <span
							style="color: red;"
							ng-show="myForm.newPassword.$dirty && myForm.newPassword.$invalid">
							<span style="color: red;"
							ng-show="myForm.newPassword.$error.required"> Please Enter
								New Password </span> <span style="color: red"
							ng-show="myForm.newPassword.$error.pattern">The password
								must contain one numeric, special, symbol,uppercase,lowercase
								minimum 8 characters </span>
						</span> <span style="color: red;"
							ng-show="user.userPassword == user.changedPassword && myForm.newPassword.$dirty"
							class="error">Current and New Password must be different.</span>


					</div>

					<div>
						<label for="confirmPassword" class="label" style="color: black">CONFIRM
							PASSWORD</label> <input id="confirmPassword" class="input"
							type="password" size="20" name="usrPassword"
							ng-model="user.changedPassword" ng-pattern="newPassword"
							data-type="password" required> <span style="color: red;"
							ng-show="myForm.usrPassword.$error.pattern" class="error">
							Password did not match</span>

					</div>

					<div>

						<a href="" style="color: #fff"><button
								class="btn btn-primary btn-block"
								ng-disabled="myForm.$invalid && myForm.$dirty || user.userPassword == user.changedPassword"
								ng-click="changePass(user)">Submit</button> </a>

					</div>


				</form>
			</div>
		</div>
	</div>
</div>


