


<div ng-controller="eventCtrl">

	<h1 style="text-align: center;margin-bottom:10px;">
		<p>CLASS SCORE : {{classScore.totalPoints}}</p>
	</h1>
	<table class="table table-hover ">
		<thead>
			<tr style="font-weight:bold;">
				<td>Event Name</td>
				<td>Team Name</td>
				<td>Classroom</td>
				<td>Round</td>
				<td>Points</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in classScore">
				<td>{{c.eventName}}</td>
				<td>{{c.teamName}}</td>
				<td>{{c.classroom}}</td>
				<td ng-show="c.round != null" style="text-transform: capitalize;">{{c.round}}</td>
				<td ng-show="c.round == null">Registered</td>
				<td>{{c.points}}</td>
			</tr>
		</tbody>
	</table>




</div>
