<div ng-controller="DatepickerCtrl">
	<h4>HOLIDAYS</h4>

	<div>
		Occasion: <input type="text" ng-model="holiday.occasion">
		Select Date: <input type="date" ng-model="holiday.dt" min-date="minDate"
			show-weeks="true" class="" />
	</div>
	<div><button type="button" class=""
		ng-click="addPublicHoliday(holiday)">Submit</button></div>
		
		
	<pre><table class="table table-striped table-responsive">
    <tr>
        <th>OCCASION</th><th>DAY</th><th></th>
    </tr>
    <tr ng-repeat="ph in publicHolidays">
        <td>{{ph.occasion}}</td><td>{{ph.date}}</td>        
        <td><button type="submit" ng-click="deleteHoliday(ph.rowId)">Delete</td>
    </tr>
</table>
	</pre>
	
	
</div>