


<div ng-controller="eventCtrl">

<h2 style="text-align:center;margin-bottom:10px;">
		<p>EVENTS</p>
	</h2>

	<uib-accordion>
	<div ng-repeat="e in events">
		<div uib-accordion-group class="panel-info" heading="{{e.eventName}}">
			<p style="font-weight: bold;">{{e.eventType}} Event</p>
			<p ng-show="e.gender=='M'" style="color: blue; font-weight: bold;">Event
				for Boys</p>
			<p ng-show="e.gender=='F'" style="color: #eb2d53; font-weight: bold;">Event
				for Girls</p>
			<p>{{e.details}}</p>


			<button class="btn btn-success"
				ng-click="registerForEvent(e.eventId)">Register for event</button>
			<button class="btn btn-warning" ng-click="applyAsReferee(e.eventId)">Apply
				as referee</button>

		</div>
	</div>
	</uib-accordion>
</div>