


<div ng-controller="eventCtrl">
	<div ng-show="loading"
		style="width: 100%; height: 100%; z-index: 1000; background: grey;">
		<div>
			<p style="width: 100%; height: 100%">Loading..</p>
		</div>
	</div>

	<div ng-show="!loading">

		Select Date: <input type="date" ng-model="genSch.date" />

		<div class="form-group">
			Round:
			<multiselect class="input-xlarge multiselect" ng-model="genSch.round"
				options="p as p for p in allRounds " header="Select Round"
				multiple="false" required> </multiselect>
		</div>


		<button ng-click="generateSchedule(genSch)">Generate</button>
	</div>
</div>