<div class="container" ng-controller="eventCtrl">
	<h2 style="text-align: center; margin-bottom: 10px;">
		<p>ADD EVENT</p>
	</h2>
	<form class="form" name="addEventForm" novalidate
		style="margin: 5px auto; text-align: center; width: 350px;">

		<div class="form-group"
			ng-class="{ 'has-error' : addEventForm.eventName.$invalid && !addEventForm.eventName.$pristine }">
			<label for="eventname">Event Name </label> <input name="eventname"
				ng-model="event.eventName" type="text" name="eventName"
				placeholder="Event name..." class="form-control"
				id="form-event-name" required>
			<div class="help-block" ng-messages="addEventForm.eventName.$error"
				ng-if="addEventForm.eventName.$dirty">
				<div ng-messages-include="partials/validationMessages.html"></div>
			</div>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error' : addEventForm.type.$invalid && !addEventForm.type.$pristine }">
			<label for="type"> Type of Event </label> <select
				ng-model="event.eventType" class="formform-control" id=""
				name="type" required style="width: 100%;">
				<option value="" disabled class="formform-control">--Select--</option>
				<option value="Indoor" class="formform-control">Indoor</option>
				<option value="Outdoor" class="formform-control">Outdoor</option>
			</select>
			<div class="help-block" ng-messages="addEventForm.type.$error"
				ng-if="addEventForm.type.$dirty">
				<div ng-messages-include="partials/validationMessages.html"></div>
			</div>
		</div>
		<div class="form-group" ng-hide="event.eventType == 'Indoor'">
			<label for="gender"> Gender </label> <select ng-model="event.gender"
				class="formform-control" id="" name="gender" style="width: 100%;">
				<option value="" disabled class="formform-control">--Select--</option>
				<option value="M" selected class="formform-control">Male</option>
				<option value="F" class="formform-control">Female</option>
			</select>

		</div>



		<div class="form-group"
			ng-class="{ 'has-error' : addEventForm.players.$invalid && !addEventForm.players.$pristine }">
			<label for="players"> No. of players in each team </label> <input
				ng-model="event.maxPlayers" type="text" name="players"
				placeholder="Players..." class="form-control" id="" required
				ng-pattern="/^[0-9]{1,7}$/">
			<div class="help-block" ng-messages="addEventForm.players.$error"
				ng-if="addEventForm.players.$dirty">
				<div ng-messages-include="partials/validationMessages.html"></div>
			</div>
		</div>


		<div class="form-group"
			ng-class="{ 'has-error' : addEventForm.matches.$invalid && !addEventForm.matches.$pristine }">
			<label for="eventname"> No. of parallel matches </label><input
				ng-model="event.parallelMatches" type="text" name="matches"
				placeholder="Matches..." class="form-control" id="" required
				ng-pattern="/^[0-9]{1,7}$/">
			<div class="help-block" ng-messages="addEventForm.matches.$error"
				ng-if="addEventForm.matches.$dirty">
				<div ng-messages-include="partials/validationMessages.html"></div>
			</div>
		</div>
		<div class="form-group"
			ng-class="{ 'has-error' : addEventForm.teamsInOneMatch.$invalid && !addEventForm.teamsInOneMatch.$pristine }">
			<label for="teamsInOneMatch">Teams in one match </label> <input
				ng-model="event.teamsInOneMatch" type="text" name="teamsInOneMatch"
				placeholder="Teams in one match..." class="form-control" id=""
				required ng-pattern="/^[0-9]{1,7}$/">
			<div class="help-block"
				ng-messages="addEventForm.teamsInOneMatch.$error"
				ng-if="addEventForm.teamsInOneMatch.$dirty">
				<div ng-messages-include="partials/validationMessages.html"></div>
			</div>
		</div>



		<div class="form-group"
			ng-class="{ 'has-error' : addEventForm.eventDesc.$invalid && !addEventForm.eventDesc.$pristine }">
			<label for="eventDesc">Event Details:</label>
			<textarea ng-model="event.details" name="eventDesc"
				placeholder="Event description and rules..." class="form-control"
				id="" required></textarea>
			<div class="help-block" ng-messages="addEventForm.eventDesc.$error"
				ng-if="addEventForm.eventDesc.$dirty">
				<div ng-messages-include="partials/validationMessages.html"></div>
			</div>
		</div>
		<button class="btn btn-primary btn-block"  style="height: 32px;" ng-click="addEvent(event)"
			ng-disabled="addEventForm.$invalid">Add Event</button>

		<!-- 	<a class="btn btn-primary btn-block" ng-click="login(user)"
						ng-disabled="myForm.$invalid ">Login</a> -->
	</form>
</div>
