<div style="text-align: center; margin: 30px auto;">
	<h2 style="text-align: center; margin: 5px auto;">
		<p>
			TEAM UP &nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-pencil"></i>
		</p>

	</h2>
	<form class="form"
		style="margin: 5px auto; text-align: center; width: 350px;">
		<div class="form-group">
			<label for="eventName"> Event Name </label> <input
				ng-model="eventName" type="text" name="eventName"
				placeholder="Event name..." readonly class="form-control"
				id="eventName">
		</div>
		<div class="form-group">
			<label for="teamName"> Team Name</label> <input ng-model="classroom"
				type="text" name="teamName" readonly class="form-control"
				id="teamName">
		</div>

		<div class="form-group">
			<label for="numParticipants">No. of participants required</label> <input
				type="number" class="form-control" readonly ng-model="maxPlayers"
				name="numParticipants">
		</div>

		<div class="form-group">
			<label for="participants"> Participants</label>
			<multiselect class="input-xlarge multiselect"
				ng-model="data.selectedPlayers" name="participants"
				 options="p.key as p.value for p in options"
				select-limit="{{maxPlayers}}" header="--Select Participants--"
				selected-header="participants selected" multiple="true"
				complex-models="true" required enable-filter="true" filter-placeholder="Filter participants.."
				required> </multiselect>
		</div>

		

		<table ng-show="!data.selectedPlayers.length==0"
			class="table table-hover" style="margin: 10px auto; width: 100%;">
			<thead>
				<tr>
					<th colspan="2">Selected Participants</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in data.selectedPlayers">
					<td>{{$index+1}}</td>
					<td style="text-align: justify;">{{x.value}}</td>
				</tr>
			</tbody>
		</table>

		<div class="form-group">
			<button class="btn btn-primary btn-block" style="height: 32px;"
				ng-click="registerTeam(data)"><span class="glyphicon glyphicon-check"></span> &nbsp;Register Team</button>
			<button class="btn btn-warning btn-block" style="height: 32px; color: white;"
				ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span> &nbsp;Cancel</button>
		</div>

	</form>
</div>
