<div class="top-content">

	<div class="inner-bg">
		<div class="container">

			<div class="row">

				<div class="col-sm-5">

					<div class="form-box">
						<div class="form-top">
							<div class="form-top-left">
								<h3>Team Up!</h3>
							</div>
							<div class="form-top-right">
								<i class="fa fa-pencil"></i>
							</div>
						</div>


						<div class="form-bottom">
							<form role="form" class="registration-form" name="teamRegForm" style="width: 468px;">
								
								<div class="form-group">
									<label class="sr-only" for="form-first-name"></label> Event
									Name :<input ng-model="eventName" type="text"
										name="form-first-name" placeholder="Event name..." readonly
										class="form-first-name form-control" id="form-first-name">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-first-name"></label> Team Name
									:<input ng-model="classroom" type="text"
										name="form-first-name"  readonly
										class="form-first-name form-control" id="form-first-name">
								</div>

								<div class="form-group">
									<multiselect class="input-xlarge multiselect"
										ng-model="data.selectedPlayers"
										options="p.key as p.value for p in options"
										select-limit="{{maxPlayers}}" header="--Select Participants--"
										selected-header="participants selected" multiple="true"
										complex-models="true" required enable-filter="true"
										filter-placeholder="Filter stuff.." required> </multiselect>
								</div>

								<div class="form-group">
									<p>No. of participants required: {{maxPlayers}}</p>
								</div>
								<div class="form-group">
									Selected Participants :
									<ul>
										<li ng-repeat="x in data.selectedPlayers">{{x.value}}</li>
									</ul>
								</div>


								<div class="modal-footer">
									<button class="btn" ng-click="registerTeam(data)">Register
										Team!</button>
									<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
								</div>


								<!--
		<div class="form-group">
			selected option
			<pre ng-bind="team | json"></pre>
		</div>
		<div class="form-group">
			selected option
			<pre ng-bind="payload | json"></pre>
		</div>
		<div class="form-group">
			selected option
			<pre ng-bind="data.option | json"></pre>
		</div> -->
							</form>
						</div>
					</div>

				</div>


			</div>

		</div>
	</div>

</div>
