
<div ng-controller="eventCtrl">
	<h2 style="text-align: center; margin-bottom: 10px;">
		<p>SCHEDULE</p>
	</h2>
	<uib-accordion>
	<div ng-repeat="s in schedule">
		<div uib-accordion-group class="panel-info"
			heading="{{s.round}} | {{s.eventName}} on {{s.startTimeStamp | date : 'dd-MMM-yyyy'}}">

			<p
				style="color: green; font-weight: bold; text-transform: uppercase;"
				ng-show=" s.eventHead != null ">Event Head : {{s.eventHead}}</p>
			<p style="color: red; font-weight: bold;"
				ng-show=" s.eventHead == null ">
				Event Head yet to be assigned &nbsp;&nbsp;
				<button ng-show="adminsessionActive" class="btn btn-warning" style="color: white;"
					ng-click="openAssignRefereeModal(s)"><span class="glyphicon glyphicon-pencil"></span> &nbsp; Click
					to Assign</button>
			</p>
			<p style="color: black; font-weight: bold;">{{s.startTimeStamp |
				date : 'dd-MMM-yyyy hh:mm a'}} - {{s.endTimeStamp | date : 'hh:mm
				a'}}</p>
			<p style="color: red; font-weight: bold;">Teams</p>
			<table>
				<tr ng-repeat="t in s.teams">
					<td
						style="text-transform: uppercase; font-size: 13px; color: purple;">{{t.teamName}}</td>
				</tr>
			</table>

		</div>
	</div>
	</uib-accordion>
	<!-- <pre ng-bind="schedule|json"></pre> -->
</div>
