


<div ng-controller="eventCtrl">

	<h2>
		<p>Winners</p>
	</h2>
	<uib-accordion>
	<div ng-repeat="e in eventListDisplay">
		<div uib-accordion-group class="panel-info" heading="{{e.eventName}}"
			ng-click="getClickedEventWinners(e.eventId)">

			<table>
				<tr>
					<td>TeamName</td>
					<td>Classroom</td>
					<td>Round</td>
					<td>Points</td>
				</tr>
				<tr ng-repeat="c in currEventWinners">
					<td>{{c.teamName}}</td>
					<td>{{c.classroom}}</td>
					<td ng-show="c.round != null">{{c.round}}</td>
					<td ng-show="c.round == null">Registered</td>
					<td>{{c.points}}</td>
				</tr>
			</table>




		</div>
	</div>
	</uib-accordion>
</div>